# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
.env/
.venv/
ENV/

# Distribución / Packaging
dist/
build/
*.egg-info/
*.egg

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace

# Variables de entorno
.env
.env.local

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs
*.log

# Pytest / Coverage
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# mypy
.mypy_cache/